#benefits{
    background-color: #ecf0f1;
    height: auto;
    .content{
        padding: 50px 100px 40px 100px;
    }
    .title-style{
        font-family: 'AirbnbCerealBold';
        color: #1e3799;
        text-align: center;
    }
    .description-style{
        font-family: 'AirbnbCerealLight';
        color: #000;
        text-align: center;
        font-size: 1em;
    }
    .imagemini{
        display: block;
        margin: auto;
      
    }
    .card{
        height:26rem
    }
    @media (max-width: 480px) {
        .content{
            padding: 50px 0px 40px 10px;
        }
        .card{
            margin-bottom: 20px;
        }
    }
}