#footer{
    background-color: #1e3799;
    height: auto;
    padding: 80px 50px 20px 80px;
    .title-style{
        color: #FFF;
        font-family: 'AirbnbCerealBold';
    }
    .subtitle-footer h4{
        font-family: 'AirbnbCerealLight';
        font-size: 1em;
    }
    .phone-style h4{
        margin-top: 20px;
    }
}