#headernetworks{
    background-color: #1e3799;
    height: 3rem;
    .network-icon{
        padding-top:10px;
        padding-right:55px;
    }
    .icons-style{
        padding-left: 20px;
    }
    .icons-style a{
        color: #FFF;
    }
    .icons-style a:hover{
        color: #f39c12;
    }
    
}