#headernetworks{
    background-color: #1e3799;
    height: 3.4em;
    z-index: 9;
    position: relative;
    .network-icon{
        padding-top:0.8em;
        padding-right:3.5em;
    }
    .icons-style{
        padding-left: 2em;
    }
    .icons-style a{
        color: #FFF;
    }
    .icons-style a:hover{
        color: #f39c12;
    }
    .dropdown{
        list-style: none;
    }
    .dropdown ul li a{
        color: #FFF;
    }
    .dropdown ul li a:hover{
        color: #1e3799;
    }
    @media (max-width: 991px) {
        .network-icon{
            padding-right:0em;
        } 
    }
}