#menu{
    padding-left: 5%;
    background-color: #FFF;
    border: 0px solid #FFF;
    height: 60px;
    .factor-style{
        font-family: 'AirbnbCerealBold';
        font-size: 1.6em;
        text-transform: uppercase;
        color: black;
    }
    .tek-style{
        font-family: 'AirbnbCerealBold';
        font-size: 1.6em;
        text-transform: uppercase;
        color: #60a3bc;
    }
    .offcanvas-body{
        display:block;
    }
}