.menu{
    padding-left: 5%;
    background-color: transparent;
    border: 0px solid transparent;
    height: 60px;
    .factor-style{
        font-family: 'AirbnbCerealBold';
        font-size: 1.6em;
        text-transform: uppercase;
        color: black;
    }
    .tek-style{
        font-family: 'AirbnbCerealBold';
        font-size: 1.6em;
        text-transform: uppercase;
        color: #60a3bc;
    }
}